.switche {
  position: relative;
  display: inline-block;
  width: 60px;
  margin: 6px;
  height: 34px;
}

.switche input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slidere {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slidere:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switche input:checked + .slidere {
  background-color: #2196f3;
}

.switche input:focus + .slidere {
  box-shadow: 0 0 1px #2196f3;
}

.switche input:checked + .slidere:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slidere.rounde {
  border-radius: 34px;
}

.slidere.rounde:before {
  border-radius: 50%;
}
